body {
    background-color: rgb(24, 24, 24);
    /* font-size: 40px; */
}
.navbar {
    background-color: rgb(44, 44, 44);
    color: white;
    /* font-size: 45px; */

}
.lists {
    background-color: rgb(233, 233, 233);
}
.currList {
    background-color: white;
}